.bid-items-btn {
    position: fixed;
    right: 320px;
    top: 30px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.bid-items-btn:hover {
    background-color: #c76a2c;
}