.bid-items-btn {
    position: fixed;
    right: 320px;
    top: 30px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.bid-items-btn:hover {
    background-color: #c76a2c;
}


@media (min-width: 200px) and (max-width: 1000px) {
    .bid-items-btn {
        font-size: 12px;
        right: 180px;
        top: 20px;
        padding: 10px 15px;
    }
    
}